@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center">Hello admin, choose what you want to do</h1>
@*<div asp-controller="News" asp-action="Index" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">News</h2>
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
            </li>
        </ul>
    </div>
</div>

<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Journal</h2>
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
            </li>
        </ul>
    </div>
</div>

<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Article</h2>
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
            </li>
        </ul>
    </div>
</div>

<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Advertisement</h2>
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
            </li>
        </ul>
    </div>
</div>*@

<div class="row">
    <div class="col-6 mb-2">
        <a asp-controller="News" asp-action="Index">
            <div asp-controller="News" asp-action="Index" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="text-primary pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">News</h2>
                    
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 mb-2">
        <a asp-controller="Article" asp-action="Index">
            <div asp-controller="News" asp-action="Index" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="text-primary pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Article</h2>
                    
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 mb-2">
        <a asp-controller="Journal" asp-action="Index">
            <div asp-controller="News" asp-action="Index" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="text-primary pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Journal</h2>
                    
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 mb-2">
        <a asp-controller="Advertisement" asp-action="Index">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg mb-2" style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="text-primary pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Advertisement</h2>
                    
                </div>
            </div>
        </a>
    </div>

</div>
