html {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.news-image {
    border: 2px solid white;
    min-width: 100%;
    object-fit: cover;
    max-height: 500px;
    width: auto;
    height: auto;
}

.article-section {
    background-color: hsl(240, 100%, 5%);
}

.article-details h3, p {
    font-size: 15px
}

.article-header {
    color: hsl(35, 77%, 62%);
    font-size: 25px;
    margin-top: 1rem;
    font-weight: 700;
}

.article-texts b {
    font-size: 1.2rem;
    color: hsl(36, 100%, 99%);
}

.article-texts p {
    color: hsl(233, 8%, 79%);
    margin-top: 8px;
    margin-right: 8px;
    font-size: 14px;
}

.article-hr {
    color: hsl(236, 13%, 42%);
}
