@model MagazineProject.Models.Article

@{
    ViewData["Title"] = "News Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Edit</h1>

<h4>Article</h4>
<hr />
<div class="article-card mt-1">
    <div class="container-card p-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
    
            <div class="article-header d-flex justify-content-between mt-2">
                <input placeholder="Enter title" class="title fw-bold fs-2 w-100" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="description mt-4">
                <input class="description w-100" placeholder="Enter description" asp-for="Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="genre mt-4">
                <input class="text-genre w-100" placeholder="Enter genre" asp-for="Genre"/>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary mt-2" />
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-danger mt-2">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
